@charset "UTF-8";

#space1{
    height: 100px;
}

.element{
    float: left;
    left: 30px;
}

.mode{
    margin: 0;
}

.player{
    margin: 0;
}

.court{
    width: 500px;
    height: 450px;
    margin : auto;
    float: center;
}

#can{
    width: 100%;
    height: 100%;
    margin: auto;
    border: 5px solid black;
}
